.button {
  display: block;
  border: none;
  background-color: #68b738;
  width: 280px;
  color: white;
  padding: 14px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
