.catalog__products {
  margin-top: 10px;
}

.catalog__wrapper {
  @include container;
  border-top: 1px solid $grey-light;
  margin-top: -10px;
}

.catalog__title {
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    flex-basis: 100%;
  }

  .catalog__item {
    flex-basis: 45%;
    margin-top: 140px;
  }

  .catalog__item:nth-of-type(2n-1) {
    margin-right: 65px;
  }

  .catalog__item:last-child {
    margin-right: 0;
  }

  .catalog__contacts {
    background: $grey-light;
  }
}


@media (min-width: $desktop-width) {
  .catalog__item {
    flex-basis: 200px;
    margin: 0;
    margin-top: 140px;
  }

  .catalog__item:nth-of-type(2n) {
    margin-right: 83px;
  }

  .catalog__item:nth-of-type(4n) {
    margin-right: 0;
  }

  .catalog__item:last-child {
    margin-right: 0;
    flex-basis: 246px;
  }

  .catalog__other-products {
    margin-bottom: 80px;
  }
}
