.choose-program {
  margin-top: 27px;
  margin-bottom: 30px;
}

.choose-program__wrapper {
  @include container;
}

.choose-program__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 37px;
}

.choose-program__text {
  text-transform: uppercase;
  width: 250px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .choose-program {
    margin-bottom: 52px;
  }

  .choose-program__title {
    font-size: 60px;
    margin-top: 75px;
    margin-bottom: 67px;
  }

  .choose-program__text {
    font-size: 20px;
    line-height: 30px;
    width: auto;
    margin-right: 45%;
    margin-left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .choose-program {
    margin-bottom: 72px;
  }
}
