.contacts__wrapper {
  @include container;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.contacts__slogan {
  text-transform: uppercase;
  flex-basis: 50%;
}

.contacts__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  flex-basis: 50%;
}

.contacts__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 360px;

  @media (max-width: $mobile-width-only) and (min-resolution: $retina-dpi),
    (max-width: $mobile-width-only) and (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: 100%;
  }
}

.contacts__map iframe {
  width: 100%;
  height: inherit;
  border: none;
}

.contacts--grey {
  background: $grey-light;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    background-color: $white;
    min-height: 200px;
    display: flex;
    align-items: center;
  }

  .contacts__slogan {
    font-size: 20px;
    text-align: left;
    margin-left: 35px;
    line-height: 26px;
    padding-right: 150px;
  }

  .contacts__text {
    font-size: 16px;
    text-align: right;
    margin-right: 30px;
    padding-left: 130px;
    line-height: 30px;
  }

  .contacts__wrapper--grey {
    background: $grey-light;
  }

  .contacts__map {
    background-image: url("../img/bg-map-tablet@1x.png");
    height: 400px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    width: 570px;
    top: 10%;
    left: 50%;
    margin-left: -610px;
  }

  .contacts__slogan {
    padding-right: 0;
  }

  .contacts__text {
    padding-left: 0;
  }

  .contacts__wrapper--white {
    background: $white;
  }

  .contacts__map {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: 100%;
    }
  }
}
