.copyright {
  width: 100%;
  display: flex;
}

.copyright__link {
  margin-top: 18px;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $dark-grey;
}

.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.copyright__logo {
  margin-right: -6px;
}

@media (min-width: $tablet-width) {
  .copyright__link {
    margin-top: 0;
    margin-left: 180px;
  }
}
