.example {
  color: $black;
  background-color: $grey-light;
}

.example__images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__wrapper {
  @include container;
  padding-top: 23px;
  padding-bottom: 32px;
}

.example__title {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 35px;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 26px;
  padding-right: 10px;
}

.example__stats-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__stats {
  margin-bottom: 7px;
  width: 125px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.example__cost {
  flex-basis: 100%;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.example__progress {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
  border: 1px solid $grey-darker;
  padding-bottom: 20px;
  padding-top: 13px;
}

.example__text-stat {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  margin-top: -22px;
  margin-left: 20px;
  margin-right: 25px;
  background-color: $grey-light;
}

.example__price {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    @include container;
  }

  .example {
    background-color: $white;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 575px, rgba(255, 255, 255, 0) 75px, rgba(255, 255, 255, 0) 100%), linear-gradient(to left, #eaeaea 0%, #eaeaea calc(50% - 10px), $grey-light calc(50% - 10px), $grey-light 100%);
  }

  .example__title {
    font-size: 60px;
    margin-bottom: 75px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
  }

  .example__stats-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
    flex-wrap: nowrap;
  }

  .example__stats {
    flex-basis: 165px;
    margin-bottom: 0;
    align-self: baseline;

    &:first-of-type {
      margin-right: 35px;
    }
  }

  .example__price {
    width: 180px;
    height: auto;
    text-align: right;
    margin-top: -10px;
    line-height: 30px;
    margin-right: 0;
  }

  .example__progress {
    font-size: 30px;
    margin-left: 10px;
    padding: 20px;
  }

  .example__text-stat {
    font-size: 14px;
    background-color: $white;
    width: 130px;
    padding-top: 12px;
  }

  .example__cost {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    display: flex;
  }

  .example {
    margin-top: -38px;
    padding-top: 18px;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 175px, rgba(255, 255, 255, 0) 175px, rgba(255, 255, 255, 0) 100%), linear-gradient(to left, #eaeaea 0%, #eaeaea calc(50% - 325px), $grey-light calc(50% - 325px), $grey-light 100%);
    background-color: $white;
  }

  .example__price {
    text-align: justify;
    margin-left: 0;
    min-width: 325px;
  }

  .example__stats-wrapper {
    flex-wrap: wrap;
    margin-bottom: 0;
    min-height: 172px;
  }

  .example__text-stat {
    background-color: $grey-light;
  }

  .example__title {
    margin-bottom: 155px;
  }

  .example__text-wrapper {
    margin-top: 32px;
  }

  .example__text {
    padding-right: 120px;
    margin-bottom: 68px;
    margin-top: 160px;
  }
}
