.form__section {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 25px;
}

.form__label,
.form__input,
.form__textarea {
  text-transform: uppercase;
}

.form__textarea {
  resize: vertical;
  width: 100%;
  padding: 10px;
  border: 1px solid $grey-light;
}

.form__section-item-owner,
.form__section-item-cat {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__label {
  margin-right: 10px;
}

.form__input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid $grey-light;
}

.form__section-aim {
  padding: 30px 0;
  border-top: 1px solid $grey-light;
  border-bottom: 1px solid $grey-light;
}

.form__section-item-aim {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.form__section-item-else {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.form__section-data {
  display: flex;
  flex-direction: column;

  @include list-style;
}

.form__section-item {
  margin-bottom: 30px;
}

.form__button {
  font: inherit;
  font-size: 16px;
  margin-bottom: 25px;
}

.form__desc {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.form__section-else {
  margin-bottom: 35px;
}

.form__section legend {
  font-size: 24px;
  padding-bottom: 35px;
}

.form-page .contacts {
  background: $grey-light;
}

@media (min-width: $tablet-width) {
  .form__section-aim {
    border: 1px solid $grey-light;
  }

  .form__section-data-else {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__section-item-else {
    width: 50%;
  }

  .form__button-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form-page .contacts,
  .contacts__wrapper {
    background: $grey-light;
  }
}

@media (min-width: $desktop-width) {
  .choose-program__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .choose-program__title,
  .choose-program__text,
  .form__section-owner,
  .form__section-comment,
  .form__button-wrapper,
  .form__section-else {
    flex-basis: 100%;
  }

  .choose-program__form {
    display: flex;
    flex-wrap: wrap;
  }

  .form__section-params,
  .form__section-aim {
    flex-basis: 50%;
  }

  .form__section-item-else {
    flex-basis: 20%;
  }

  .form__section-owner .form__section-data {
    display: flex;
  }

  .form__section-item-owner {
    flex-basis: 50%;
  }

  .form-page .contacts__wrapper {
    background: $white;
  }
}
