.form__section {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 20px;
}

.form__wrapper {
  @include container;
}

.form__label,
.form__input,
.form__textarea {
  text-transform: uppercase;
}

.form__textarea {
  resize: vertical;
  font-family: $font-regular;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  padding-left: 13px;
  border: 1px solid $grey-light;
  height: 150px;
  margin-bottom: 8px;
}

.form__section-item-owner,
.form__section-item-cat {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__label {
  position: relative;
  padding-right: 12px;
}

.form__label--button-style {
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -45px;
    width: 30px;
    height: 30px;
    border: 1px solid $grey-light;
    border-radius: 30px;
  }

  &:hover::before {
    border: 1px solid $grey-light;
  }
}

.form__radio {
  display: none;

  &:checked + .form__label--button-style::after {
    content: "";
    position: absolute;
    border-radius: 40px;
    top: 6px;
    left: -36px;
    width: 12px;
    height: 12px;
    background-color: $green;
  }
}

.form__input {
  font-family: $font-regular;
  font-weight: 400;
  font-size: 16px;
  flex-grow: 1;
  padding: 10px;
  padding-left: 15px;
  border: 1px solid $grey-light;
}

.form__section-aim {
  padding-left: 45px;
  padding-top: 27px;
  margin-bottom: 35px;
  position: relative;
  margin-top: -10px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 320px;
    border-top: 1px solid $grey-light;
  }

  &::after {
    content: "";
    position: absolute;
    border-bottom: 0;
    right: -20px;
    width: 320px;
    border-top: 1px solid $grey-light;
  }
}

.form__section-item-aim {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.form__section-item-else {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.form__section-data {
  display: flex;
  flex-direction: column;


  @include list-style;
}

.form__section-item {
  margin-bottom: 12px;
}

.form__button {
  font: inherit;
  font-size: 16px;
}

.form__desc {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.form__section-else {
  margin-bottom: 20px;
  padding-left: 45px;
  padding-top: 17px;
}

.form__section legend {
  font-size: 24px;
  padding-bottom: 35px;
}

.form-page .contacts {
  background: $grey-light;
}

.form__title {
  position: relative;
  padding: 0;
  padding-left: 20px;
  margin-left: -20px;
  background-color: $white;
  line-height: 24px;
  font-weight: 400;
}

.form--line {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10px, $green 10px, $green 14px, rgba(255, 255, 255, 0) 14px, rgba(255, 255, 255, 0) 100%);
}

.form__title-comment {
  margin-right: 130px;
  margin-bottom: 30px;
}

.form__title-else {
  margin-right: 120px;
}

.form__title-contacts {
  margin-right: 80px;
  margin-bottom: 32px;
}

.form__checkbox {
  display: none;

  &:checked ~ .form__label--checkbox::after {
    opacity: 1;
    transform: rotate(-45deg);
  }

  &:checked ~ .form__label--checkbox:active::after {
    opacity: 0.3;
  }
}

.form__label--checkbox {
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -45px;
    width: 30px;
    height: 30px;
    border: 1px solid $grey-light;
  }

  &::after {
    content: "";
    position: absolute;
    border: 2px solid $green;
    top: 3px;
    left: -40px;
    width: 20px;
    height: 10px;
    border-top-style: none;
    border-right-style: none;
    opacity: 0;
  }
}

.form__section-item-owner {
  position: relative;

  &::after {
    content: "";
    position: absolute;
  }

  &--email::after {
    background-image: url("../img/icon-mail.svg");
    top: 16px;
    right: 13px;
    width: 17px;
    height: 13px;
    opacity: 0.8;
  }

  &--tel::after {
    background-image: url("../img/icon-phone.svg");
    top: 13px;
    right: 13px;
    width: 17px;
    height: 17px;
    opacity: 0.8;
  }
}


@media (min-width: $tablet-width) {
  .form__section-aim {
    border: 1px solid $grey-light;
  }

  .form__section-data-else {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__section-item-else {
    width: 50%;
  }

  .form__button-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form-page .contacts {
    background: $grey-light;
  }

  .form__title {
    position: relative;
  }

  .form__title-comment {
    position: relative;
  }

  .form__title-else {
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .choose-program__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .choose-program__title,
  .choose-program__text,
  .form__section-owner,
  .form__section-comment,
  .form__button-wrapper,
  .form__section-else {
    flex-basis: 100%;
  }

  .choose-program__form {
    display: flex;
    flex-wrap: wrap;
  }

  .form__section-params,
  .form__section-aim {
    flex-basis: 50%;
  }

  .form__section-item-else {
    flex-basis: 20%;
  }

  .form__section-owner .form__section-data {
    display: flex;
  }

  .form__section-item-owner {
    flex-basis: 50%;
  }

  .form-page .contacts__wrapper {
    background: $white;
  }
}
