.gift {
  min-height: 289px;
  text-align: center;
  font-family: "Arial", sans-serif;
  color: $white;
  background: $green url("../img/gift-photo-mobile@1x.jpg");
  position: relative;
  background-size: cover;

  @media (max-width: $mobile-width-only) and (min-resolution: $retina-dpi),
    (max-width: $mobile-width-only) and (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.gift__title {
  font-family: "Arial", sans-serif;
  padding-top: 190px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 16px;
  line-height: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    top: 90px;
    left: 120px;
    width: 50px;
    height: 50px;
  }
}

@media (min-width: $tablet-width) {
  .gift {
    min-height: 201px;
    background: $green url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .gift__title {
    font-size: 16px;
    text-align: left;
    padding-left: 500px;
    padding-top: 60px;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    width: 246px;
    height: 289px;
    margin-bottom: 40px;
    background: $green url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .gift__title {
    text-align: center;
    padding-top: 250px;
    padding-right: 50px;
    padding-left: 50px;
  }
}
