.instruction {
  margin-bottom: 50px;
}

.instruction__wrapper {
  @include container;
}

.instruction__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 43px;
  margin-top: 28px;
}

.instruction__items {
  @include list-style;
}

.instruction-list__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 26px;
  padding-left: 80px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $green;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--nutrition::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 100%;
    }
  }

  &--water::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 100%;
    }
  }

  &--eat::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 100%;
    }
  }

  &--time::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 100%;
    }
  }
}

@media (min-width: $tablet-width) {
  .instruction {
    margin-bottom: 30px;
  }

  .instruction__wrapper {
    @include container;
    min-height: 740px;
  }

  .instruction__title {
    margin-top: 58px;
    font-size: 60px;
  }

  .instruction-list__item {
    margin-bottom: 35px;

    &::before {
      top: 40px;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &:nth-child(2n) {
      left: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .instruction {
    padding-top: 10px;
  }

  .instruction__wrapper {
    min-height: 380px;
  }

  .instruction__title {
    margin-top: 35px;
  }

  .instruction-list__item {
    &::before {
      width: 80px;
      height: 80px;
    }

    &:nth-child(2n) {
      left: 0;
    }
  }
}
