.instruction {
  margin-bottom: 50px;
}

.instruction__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.instruction__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 46px;
  margin-top: 40px;
}

.instruction__items {
  @include list-style;
}

.instruction-list__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 35px;
  padding-left: 80px;
}

@media (min-width: $tablet-width) {
  .instruction {
    margin-bottom: 30px;
  }

  .instruction__wrapper {
    @include container;
    min-height: 750px;
  }

  .instruction__title {
    font-size: 60px;
  }
}

@media (min-width: $desktop-width) {
  .instruction__wrapper {
    min-height: 380px;
  }
}
