.main-nav {
  position: relative;
  font-size: 20px;
  font-family: $font-regular;
  font-weight: 500;
  text-transform: uppercase;
}

.main-nav__toggle {
  font-size: 10px;
  position: absolute;
  top: -50px;
  right: 20px;
}

.main-nav--opened .main-nav__toggle {
  font-size: 0;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $black;
    top: 9px;
    left: 0;
    width: 23px;
    height: 2px;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  @include list-style;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    flex-direction: row;
    font-weight: 400;
    font-size: 18px;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
