.more-products {
  border-top: 1px solid $grey-light;
  border-bottom: 1px solid $grey-light;
}

.more-products__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 25px;
  text-align: center;
}

.more-products__title {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.more-products__title h3 {
  font-weight: 400;
}

.more-products__button {
  margin: auto;
  color: $black;
  background-color: $grey-light;
}

.more-products__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;
  margin-top: 15px;
}
