.other-products__wrapper {
  @include container;
  padding-top: 8px;
  padding-bottom: 19px;
}

.other-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: $white;
  margin-top: -10px;
  margin-left: -20px;
  padding: 0 20px;
  margin-right: auto;
}

.other-products__wrapper--flex {
  display: flex;
  padding-bottom: 0;
  margin-bottom: 8px;
}

.other-products__title-wrapper--line {
  margin-top: 33px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10px, $green 10px, $green 14px, rgba(255, 255, 255, 0) 14px, rgba(255, 255, 255, 0) 100%);
}

.other-products__list {
  @include list-style;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .other-products__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    padding-left: 37px;
    padding-right: 37px;
  }

  .other-products__list {
    border-right: 1px solid $grey-light;
    border-left: 1px solid $grey-light;
    border-collapse: collapse;
  }

  .other-products__item {
    padding-top: 19px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 30px;
  }

  .other-products__title-wrapper {
    margin-top: 67px;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .other-products__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 5px;
    position: relative;
  }

  .other-products {
    margin-bottom: 48px;
    padding-bottom: 0;
  }

  .other-products__title {
    margin-left: -30px;
    padding: 0 30px;
    background-color: $white;
  }

  .other-products__list {
    flex-basis: 896px;
    border-right: none;
    border-left: none;
  }

  .other-products__item {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-right: none;
    border-left: none;
  }
}
