.other-products__wrapper {
  @include container;
  padding-top: 35px;
  padding-bottom: 35px;
}

.other-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 35px;
}

.other-products__list {
  @include list-style;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .other-products__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .other-products__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 415px;
  }

  .other-products__title {
    flex-basis: 100%;
  }

  .other-products__list {
    flex-basis: 896px;
  }
}
