.page-header {
  min-width: 320px;
  margin: 0 auto;
  margin-top: 15px;
}

.page-header__logo {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  height: 50px;
}

.page-header__logo img {
  width: 280px;
  padding-right: 89px;
}

@media (min-width: $tablet-width) {
  .page-header {
    margin: 0;
    margin-bottom: 20px;
  }

  .page-header__wrapper {
    @include container;
    display: flex;
    justify-content: flex-end;
  }

  .page-header__logo {
    width: 360px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    justify-content: space-between;
  }

  .page-header {
    position: relative;
    z-index: 100;
  }
}
