.page-footer__wrapper {
  @include container;
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer {
  background-color: $grey-light;
}

.page-footer__logo {
  margin-bottom: 30px;
}

.page-footer__socials {
  @include list-style;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 142px;
  }

  .page-footer__logo,
  .page-footer__socials,
  .page-footer__copyright {
    width: 33%;
    margin-bottom: 0;
  }

  .page-footer__socials {
    width: 100px;
  }

  .page-footer__copyright {
    padding-left: 60px;
  }
}
