.product {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 320px;
    border-top: 1px solid $grey-light;
  }
}

.product__img {
  flex-basis: 50%;
}

.product__wrapper {
  flex-basis: 50%;
}

.product__title {
  width: 100px;
  text-transform: uppercase;
  display: flex;
  flew-wrap: wrap;
}

.product__title h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: 400;
}

.product__button {
  margin-bottom: 24px;
  padding: 9px 0;
  font-family: $font-regular;
  font-weight: 400;
  font-size: 16px;
}

.product__about {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  width: 100%;
}

.product__value {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .product {
    border-top: none;
    min-height: 430px;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: $grey-light;
  }

  .product__wrapper {
    order: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .product__title {
    font-size: 20px;
    line-height: 26px;
    padding: 0 100px;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .product__about {
    font-size: 16px;
    line-height: 30px;
    padding: 0 15px;
    border-collapse: collapse;
  }

  .product__about-item {
    border-bottom: 1px solid $grey-darker;
  }

  .product__img {
    margin-top: -60px;
  }

  picture img {
    width: 100%;
    height: auto;
  }
}


@media (min-width: $desktop-width) {
  .product__wrapper {
    width: 246px;
  }

  .product {
    width: 246px;
  }

  .product__button {
    width: 168px;
  }
}
