.program {
  margin: auto;
  margin-bottom: 20px;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  background-color: $grey-light;
  width: 280px;
}

.program__title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 35px;
  padding-left: 70px;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    left: 1px;
    top: -11px;
    width: 50px;
    height: 50px;
    background-color: $green;
    border-radius: 50%;
  }
}

.program__title--fit {
  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: -15px;
    width: 50px;
    height: 53px;
    background-image: url("../img/icon-cat-slim.svg");
    background-size: 54px 50px;
    background-repeat: no-repeat;
  }
}

.program__title--fat {
  &::after {
    position: absolute;
    content: "";
    left: -9px;
    top: -15px;
    width: 70px;
    height: 70px;
    background-image: url("../img/icon-cat-pro.svg");
    background-size: 70px 57px;
    background-repeat: no-repeat;
  }
}


.program__content {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 23px;
  border-bottom: 1px solid $grey-darker;
}

.program__link {
  display: block;
  padding-top: 17px;
  position: relative;
  text-transform: uppercase;
  color: $black;
  padding-bottom: 19px;

  &:active {
    opacity: 0.3;
  }
}

.program__link--arrow {
  &::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 97px;
    width: 24px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-size: 24px 11px;
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .program {
    padding-right: 280px;
    margin-bottom: 40px;
    width: 708px;
    min-height: 373px;
    text-align: left;
    padding-left: 52px;
    background-color: $grey-light;
    display: flex;
    flex-direction: column;

    &:nth-of-type(2) {
      margin-top: -11px;
      margin-bottom: 0;
    }
  }

  .program__title {
    margin-bottom: 10px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;

    &::before {
      left: 395px;
      top: 20px;
      width: 200px;
      height: 200px;
    }
  }

  .program__title--fit {
    margin-top: 63px;
    margin-bottom: 25px;

    &::after {
      left: 400px;
      top: 8px;
      width: 250px;
      height: 253px;
      background-size: 190px 190px;
    }
  }

  .program__title--fat {
    margin-top: 61px;
    margin-bottom: 26px;

    &::after {
      left: 355px;
      top: -15px;
      width: 280px;
      height: 253px;
      background-size: 280px 253px;
    }
  }

  .program__link {
    font-size: 20px;
    line-height: 20px;
  }

  .program__content {
    margin-bottom: 15px;
    border: none;
    font-size: 16px;
    line-height: 24px;
  }

  .program__content--fat {
    margin-bottom: 40px;
  }

  .program__link--arrow {
    &::after {
      left: 131px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program {
    margin-left: 0;
    margin-right: 0;
  }

  .program__title {
    text-align: center;
    padding-top: 55px;

    &::before {
      left: 0;
      top: 20px;
      width: 100px;
      height: 100px;
    }
  }

  .program--fit,
  .program--fat {
    margin-top: 75px;
  }

  .program__title--fit {
    padding-left: 20px;
    padding-top: 50px;

    &::after {
      left: 0;
      top: 15px;
      width: 90px;
      height: 93px;
      background-size: 90px 90px;
    }
  }

  .program__title--fat {
    padding-left: 65px;

    &::after {
      left: -15px;
      top: 5px;
      width: 130px;
      height: 130px;
      background-size: 130px 130px;
    }
  }

  .program--fat .program__content {
    margin-bottom: 0;
  }

  .program__content {
    margin: 0;
    margin-top: 62px;
  }

  .program__link {
    margin-top: 10px;
  }
}
