.promo__wrapper {
  @include container;
  min-height: 480px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url("../img/index-can-mobile@1x.png") no-repeat center 80%;
}

.promo {
  width: 320px;
  margin: 0 auto;
  flex-direction: column;
  margin-bottom: 23px;
  color: $white;
  background: $white url("../img/index-background-mobile@1x.jpg") no-repeat;
}

.promo__button {
  margin: auto;
  margin-bottom: 0;
  padding: 10px;
}

.promo__title {
  font-weight: 400;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 9px;
  margin-top: -2px;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

@media (max-width: $mobile-width-only) and (min-resolution: $retina-dpi),
  (max-width: $mobile-width-only) and (min-resolution: $retina-dppx) {
  .promo {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 100%;
  }

  .promo__wrapper {
    background-image: url("../img/index-can-mobile@2x.png");
    background-size: auto 271px;
  }
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    background-size: 708px auto;
    background-position: center bottom;
    min-height: 850px;
    text-align: left;
    background-image: url("../img/index-can-tablet@1x.jpg");


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  .promo {
    width: 100%;
    background-image: none;
    margin-bottom: 3px;
  }

  .promo__title {
    color: $black;
    margin-right: 200px;
    margin-bottom: 21px;
    margin-left: 87px;
    font-weight: 400;
    font-size: 60px;
    margin-top: 43px;
    line-height: 60px;
  }

  .promo__slogan {
    margin-left: 89px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
    margin-bottom: 48px;
  }

  .promo__button {
    margin-left: 89px;
    width: 246px;
    margin-top: 0;
    padding: 16px 0;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    min-height: 700px;
    background-position: 66% 69%;
    background-size: 42%;
    margin-top: 0;
    background-image: url("../img/index-can-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }

  .promo {
    background: $white url("../img/index-background-desktop@1x.jpg") no-repeat;
    background-size: 50% auto;
    margin-top: -127px;
    background-position: right top;
    height: 700px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .promo__title {
    margin-right: 600px;
    margin-top: 221px;
    margin-left: 80px;
  }

  .promo__slogan {
    margin-right: 600px;
    margin-left: 80px;
    margin-bottom: 54px;
  }

  .promo__button {
    margin-left: 80px;
  }
}
