.site-list__item {
  display: block;
  padding: 25px 0;
  text-align: center;
  border-top: 1px solid $grey-light;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item {
    margin: 0;
    padding-bottom: 10px;
    padding-top: 20px;
    border: none;
    margin-left: 10px;
  }

  .site-list__item--active {
    border-bottom: 2px solid $green;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item a {
    padding-bottom: 5px;
    color: $white;
  }

  .site-list__item--active {
    border-bottom: 2px solid $white;
  }

  .site-list__item--black a {
    color: $black;
  }

  .site-list__item--active-green a {
    border-bottom: 2px solid $green;
  }
}
