.socials-list {
  width: 280px;
  padding: 21px 0;
  border-top: 1px solid $grey-darker;
  border-bottom: 1px solid $grey-darker;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list__item {
  flex-basis: 20px;
  height: 20px;
  margin: 0 16px;
}

.social__img {
  width: 22px;
  height: 20px;
}

.social__img--vk {
  max-width: 30px;
  height: 15px;
}

.social__img--inst {
  max-width: 25px;
  heigth: 24px;
}

.social__img--fb {
  max-width: 14px;
}

@media (min-width: $tablet-width) {
  .socials-list {
    justify-content: center;
    border: none;
    width: 200px;
    padding: 0;
  }

  .social__img--vk {
    transform: scale(1.4, 1.4);
  }

  .social__img--inst {
    transform: scale(1.4, 1.4);
  }

  .social__img--fb {
    transform: scale(1.4, 1.4);
  }
}
