.socials-list {
  width: 280px;
  padding: 21px 0;
  border-top: 1px solid $grey-darker;
  border-bottom: 1px solid $grey-darker;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list__item {
  flex-basis: 20px;
  height: 20px;
  margin: 0 16px;
}

.social__img {
  width: 22px;
  height: 20px;
}

@media (min-width: $tablet-width) {
  .social__img {
    width: 30px;
    height: 22px;
  }

  .socials-list {
    justify-content: space-between;
    border: none;
    width: 200px;
    padding: 0;
    height: 60px;
  }
}
