.socials-list {
  width: 280px;
  padding: 21px 0;
  border-top: 1px solid $grey-light;
  border-bottom: 1px solid $grey-light;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list__item {
  flex-basis: 30%;
}

.social__img {
  width: 20px;
  height: 20px;
}

@media (min-width: $tablet-width) {
  .social__img {
    width: 30px;
    height: 22px;
  }
}
