.example__images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__toggle {
  text-transform: uppercase;
}

.slider__decor {
  margin: 0 10px;
  width: 84px;
  height: 14px;
  background-color: $white;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
}
